/* side panel section starts here */
.side_panel {
    height: 42rem;
    width: 15%;
    margin-left: 4.75em;
    background: linear-gradient(90deg, var(--clr-ivory), rgba(224, 224, 224, 0.5));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#user_pic {
    width: 80%;
    margin-top: 1.25em;
    border-radius: 100vw;
}

.user_name {
    font-size: var(--size-3xl);
    color: var(--clr-msty_blu);
    margin-top: 0.5em;
    letter-spacing: 5px;
}

.user_id {
    margin-top: -0.5em;
    font-size: var(--size-sm);
    color: var(--clr-msty_blu);
}

.nav_block {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3em;
    gap: 0.75em;
}

.nav_btn {
    background: linear-gradient(180deg, var(--clr-ivory), var(--clr-cyan));
    color: var(--clr-msty_blu);
    padding: 1.25em 1em;
    font-family: "Syne Medium";
    font-size: var(--size-2xl);
    border-radius: 4rem;
    transition: transform 0.45s ease;
}

.nav_btn:hover {
    color: var(--clr-drk_blu);
    transform: scale(1.025);
    box-shadow: 2px 2px 30px var(--clr-tffny_blu);
}
/* side panel section ends here */

/* body section starts here */
.heading {
    position: absolute;
    top: 100px;
    left: 350px;
    font-size: var(--size-2xl);
}

.post_container {
    position: absolute;
    top: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    left: 350px;
    height: 32rem;
    width:68rem;
    overflow-y: auto;
    border-radius: 15px;
    background: linear-gradient(135deg, var(--clr-ivory), rgba(224, 224, 224, 0.5));
}

.card {
    margin-block: 2em;
    margin-left: 0.8em;
    height: 20rem;
    width: 20rem;
    border-radius: 30px;
    background: linear-gradient(135deg, var(--clr-ivory), rgb(244, 244, 244));
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7),
                -3px -3px 10px rgba(224, 224, 224, 0.5);
    overflow-y: auto;
}

.card::-webkit-scrollbar {
    display: none;
}

.card > h1 {
    padding-top: 0.25em;
    text-align: center;
}

.card > div {
    overflow-y: auto;
}

.card > div > p {
    text-align: center;
    padding: 2em;
    font-size: var(--size-xs);
}