.frm {
    height: 40rem;
    width: 88%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_box {
    height: 30rem;
    width: 32rem;
    border-radius: 15px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2),
    -3px -3px 20px rgba(255, 255, 255, 1);
}

.head_txt {
    padding-block: 2em;
    padding-left: 3.5em;
}

.head_txt h1 {
    font-size: var(--size-5xl);
}

.input_fields {
    padding-left: 2em;
}

.input_styles {
    padding: 0.75em;
    padding-left: 2em;
    border-radius: 5px;
    outline: none;
    margin-block: 0.5em;
    margin-left: 1.5em;
    border: 1px solid #b4b4b4;
    width: 80%;
    border-radius: 50px;
}

.fgt_pass {
    margin-top: 0.75em;
}

.fgt_pass p > strong > a {
    padding-left: 3.25em;
    text-decoration: none;
    color: blue;
}

.or {
    display: flex;
    justify-content: center;
    margin-top: 0.75em;
    margin-left: 2.5em;
    padding-block: 0.5em;
    width: 80%;
}

.submit_btn {
    background: var(--clr-teal);
    color: var(--clr-ivory);
    padding-block: 0.5em;
    width: 24rem;
    font-family: 'Syne Medium';
    font-size: var(--size-xl);
    border-radius: 50px;
}

.submit_btn:hover {
    background: var(--clr-tffny_blu);
    color: var(--clr-teal);
}

.join {
    margin-top: 1.75em;
    display: flex;
    justify-content: center;
    gap: 0.75em;
}

